.landing-about-history {
  padding: 0px 30px 100px 30px;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #003da5;
}

.landing-about-history-content-block {
  width: 750px;
}

.landing-about-history-name-content-block {
  padding: 70px 0px 25px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #ffa300;
}

.landing-about-history-content-block-title {
  margin-bottom: 10px;
  font-size: 44px;
  font-weight: 600;
  color: white;
}

.landing-about-history-content-block-body {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.6;
  color: white;
}

.landing-about-history-content-block-button {
  padding: 18px 24px 18px 24px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #ffa300;
}

@media (max-width: 1000px) {
  .landing-about-history-content-block {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .landing-about-history-content-block {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .landing-about-history-name-content-block {
    padding: 50px 0px 25px 0px;
  }

  .landing-about-history-name-content-block {
    font-size: 14px;
  }

  .landing-about-history-content-block-title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .landing-about-history-content-block {
    width: 100%;
  }

  .landing-about-history-content-block-body {
    font-size: 17px;
  }

  .landing-about-history-content-block-button {
    padding: 15px 20px 15px 20px;
    font-size: 11px;
  }
}

@media (max-width: 450px) {
  .landing-about-history-name-content-block {
    padding: 40px 0px 25px 0px;
  }

  .landing-about-history-name-content-block {
    font-size: 12px;
  }

  .landing-about-history-content-block-title {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .landing-about-history-content-block {
    width: 100%;
  }

  .landing-about-history-content-block-body {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .landing-about-history-content-block-button {
    padding: 12px 14px 12px 14px;
    font-size: 10px;
  }
}
