.company-our-mission {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.company-our-mission-top-element {
  width: 100%;
  aspect-ratio: 12 /1;
  background-color: rgb(247, 247, 248);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.company-our-mission-bottom-element {
  width: 100%;
  aspect-ratio: 12 /1;
  background-color: rgb(247, 247, 248);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.company-our-mission-body {
  display: flex;
  margin: 30px 30px 30px 30px;
}

/* left-block */

.company-our-mission-left {
  width: 30%;
}

.company-our-mission-left-name {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 163, 0);
}

/* right-block */

.company-our-mission-right {
  width: 60%;
}

.company-our-mission-right-slogan-block {
  color: rgb(0, 61, 165);
  font-size: 50px;
  font-weight: bolder;
}

.company-our-mission-right-slogan-block-orange-item {
  color: rgb(255, 163, 0);
}

.company-our-mission-right-text {
  margin-top: 20px;
  font-size: 22px;
  line-height: 1.6;
  color: rgb(64, 64, 66);
}
