.newsroom-newsletter-card {
  margin: 20px 0px 0px 0px;
  padding: 30px 30px 30px 30px;
  background-color: white;
}

.newsroom-newsletter-card-title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: rgb(64, 64, 66);
}

.newsroom-newsletter-card-image {
  width: 100%;
  aspect-ratio: 8 / 7;
  overflow: hidden;
}

.newsroom-newsletter-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsroom-newsletter-card-nomination {
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(0, 86, 179);
}

.newsroom-newsletter-card-text {
  margin: 15px 0px 50px 0px;
  font-size: 17px;
  color: rgb(64, 64, 66);
}

.newsroom-newsletter-card-title_1 {
  margin: 0px 0px 15px 0px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 163, 0);
}

/* item */

.newsroom-newsletter-card-item {
  display: flex;
}

.newsroom-newsletter-card-item-left {
  display: flex;
}

.newsroom-newsletter-card-item-left-image {
  width: 7px;
  height: 7px;
  transform: translateY(12px);
  background-color: rgb(52, 145, 251);
}

.newsroom-newsletter-card-item-right {
  font-size: 17px;
  padding: 5px 0px 5px 10px;
  color: rgb(64, 64, 66);
}

/* learn-more */

.newsroom-newsletter-card-learn-more-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.newsroom-newsletter-card-learn-more {
  display: flex;
  align-items: center;
}

.newsroom-newsletter-card-learn-more:hover
  .newsroom-newsletter-card-learn-more-text {
  cursor: pointer;
  color: rgb(255, 163, 0);
}

.newsroom-newsletter-card-learn-more:hover
  .newsroom-newsletter-card-learn-more-arrow {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

.newsroom-newsletter-card-learn-more-text {
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 61, 165);
}

.newsroom-newsletter-card-learn-more-arrow {
  height: 20px;
  width: 20px;
  mask: url('../../../assets/arrow-right-circle.svg') no-repeat center / contain;
  background-color: rgb(0, 61, 165);
}
