/* learn-more */

.newsroom-newsletter-left-card-button_1-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.newsroom-newsletter-left-card-button_1 {
  display: flex;
  align-items: center;
}

.newsroom-newsletter-left-card-button_1:hover
  .newsroom-newsletter-left-card-button_1-text {
  cursor: pointer;
  color: rgb(255, 163, 0);
}

.newsroom-newsletter-left-card-button_1:hover
  .newsroom-newsletter-left-card-button_1-arrow {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

.newsroom-newsletter-left-card-button_1-text {
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 61, 165);
}

.newsroom-newsletter-left-card-button_1-arrow {
  height: 20px;
  width: 20px;
  mask: url('../../../assets/arrow-right-circle.svg') no-repeat center / contain;
  background-color: rgb(0, 61, 165);
}