.newsroom-awards {
  padding: 20px 30px 70px 30px;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(247, 247, 248);
}

.newsroom-awards-top {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

/* name */

.newsroom-awards-top-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 163, 0);
}

/* learn-more */

.newsroom-awards-top-learn-more-container {
}

.newsroom-awards-learn-more-block {
  display: flex;
  align-items: center;
}

.newsroom-awards-learn-more-text {
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 61, 165);
}

.newsroom-awards-learn-more-arrow {
  height: 20px;
  width: 20px;
  mask: url('../../../assets/arrow-right-circle.svg') no-repeat center / contain;
  background-color: rgb(0, 61, 165);
}

.newsroom-awards-top-learn-more-container:hover
  .newsroom-awards-learn-more-text {
  cursor: pointer;
  color: rgb(255, 163, 0);
}

.newsroom-awards-top-learn-more-container:hover
  .newsroom-awards-learn-more-arrow {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

@media (max-width: 750px) {
  .newsroom-awards-top {
    flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .newsroom-awards-top-name {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .newsroom-awards {
    padding: 20px 15px 70px 15px;
  }
}
