.company-our-core-values-bottom-card {
  width: 50%;
}

.company-our-core-values-bottom-card-title-and-text {
  margin: 30px;
}

.company-our-core-values-bottom-card-title {
  font-size: 40px;
  color: white;
}

.company-our-core-values-bottom-card-text {
  padding: 20px 0px 50px 0px;
  font-size: 17px;
  line-height: 1.6;
  color: white;
}

@media (max-width: 750px) {
  .company-our-core-values-bottom-card {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .company-our-core-values-bottom-card-title-and-text {
  margin: 30px 20px 30px 20px;
}
}
