.menu {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.menu-item {
  margin: 22px 15px 22px 15px;
  padding: 0px 0px 5px 0px;
  text-decoration: none;
  color: inherit; 
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu-item-active {
  margin: 22px 15px 22px 15px;
  padding: 0px 0px 5px 0px;
  text-decoration: none;
  color: inherit; 
  position: relative;
  display: inline-block;
  cursor: pointer;
   
}

.menu-item:last-child {
  margin-right: 0px;
}

/* реализация подчеркивания ------------------- */
.menu-item {
  
}
.menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0; /* изначально ширина 0 */
  background-color: rgb(255, 163, 0); 
  transition: width 0.3s ease;
}

.menu-item-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 163, 0); 
}

.menu-item:hover::after {
  width: 100%;
}
/* реализация подчеркивания ------------------- */