.community-title-screen {
  height: 100vh;
  background: url('../../../assets/community_1.jpg') center / cover no-repeat;
}

.community-title-screen-content {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.community-title-screen-content-text {
  position: absolute;
  left: 30px;
  bottom: 20%;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 550px) {
  .community-title-screen-content-text {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .community-title-screen-content-text {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .community-title-screen-content-text {
    left: 15px;
    bottom: 35%;
    font-size: 30px;
  }
}

@media (max-height: 320px) {
  .community-title-screen {
    height: 320px;
  }

  .community-title-screen-content-text {
    font-size: 35px;
  }
}

@media (max-height: 500px) {
  .community-title-screen-content-text {
    bottom: 25%;
  }
}
