.careers-employee-spotlights-card {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding: 80px 0px 80px 0px;
  overflow-y: auto;
  background-color: rgb(0, 0, 0, 0.7);
}

/* buttons */

.careers-employee-spotlights-card-left-button {
  position: fixed;
  left: 0px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  mask: url('../../../assets/left_arrow.svg') no-repeat center / contain;
  background-color: white;
}

.careers-employee-spotlights-card-left-button:hover {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

.careers-employee-spotlights-card-right-button {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  mask: url('../../../assets/right_arrow.svg') no-repeat center / contain;
  background-color: white;
}

.careers-employee-spotlights-card-right-button:hover {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

/* body */

.careers-employee-spotlights-card-body {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.careers-employee-spotlights-card-body-close-button-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(91, 103, 112);
}

.careers-employee-spotlights-card-body-close-button {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 25px;
  height: 25px;
  transform: translate(50%, -50%);
  cursor: pointer;
  background-color: white;
  mask: url('../../../assets/close.svg') no-repeat center / contain;
}

.careers-employee-spotlights-card-body-close-button-container:hover
  .careers-employee-spotlights-card-body-close-button {
  background-color: rgb(255, 163, 0);
}

.careers-employee-spotlights-card-body-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  padding: 60px 30px 30px 30px;
  transition: transform 0.5s ease;
  background-color: white;
}

/* left */

.careers-employee-spotlights-card-body-left {
  width: 30%;
}

.careers-employee-spotlights-card-body-left-image {
  width: 100%;
  aspect-ratio: 5 / 6;
  overflow: hidden;
}

.careers-employee-spotlights-card-body-left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* right */

.careers-employee-spotlights-card-body-right {
  padding: 0px 0px 0px 30px;
  width: 70%;
}

.careers-employee-spotlights-card-body-right-text {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 61, 165);
}

.careers-employee-spotlights-card-body-right-name {
  margin: 20px 0px 5px 0px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(64, 64, 66);
}

.careers-employee-spotlights-card-body-right-position {
  margin: 0px 0px 15px 0px;
  font-size: 16px;
  color: rgb(64, 64, 66);
}

.careers-employee-spotlights-card-body-right-location {
  font-size: 16px;
  color: rgb(64, 64, 66);
}

@media (max-width: 1000px) {
  .careers-employee-spotlights-card-body {
    width: 90%;
  }

  .careers-employee-spotlights-card-body-right-text {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .careers-employee-spotlights-card-body-right-text {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .careers-employee-spotlights-card-body {
    width: 80%;
  }

  .careers-employee-spotlights-card-body-item {
    flex-direction: column;
  }

  .careers-employee-spotlights-card-body-right {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: 25px;
  }

  .careers-employee-spotlights-card-body-right-text {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .careers-employee-spotlights-card-left-button {
    background-color: rgb(0, 61, 165);
  }

  .careers-employee-spotlights-card-right-button {
    background-color: rgb(0, 61, 165);
  }

  .careers-employee-spotlights-card-body {
    width: 100%;
  }

  .careers-employee-spotlights-card-body-left {
  width: 40%;
}

  .careers-employee-spotlights-card-body-right {
    width: 100%;
    margin-top: 20px;
  }

  .careers-employee-spotlights-card-body-right-text {
    font-size: 23px;
  }
}

@media (max-width: 350px) {

  .careers-employee-spotlights-card-body-left {
  width: 70%;
}

  .careers-employee-spotlights-card-body-right {
    width: 100%;
    margin-top: 15px;
  }

  .careers-employee-spotlights-card-body-right-text {
    font-size: 18px;
  }
}
