.container-for-slider {
  position: relative;
}
.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider_for_project-catalog {
  display: inline-flex;
  height: 100%;
}

.slider_for_project-catalog-item {
  position: relative;
  min-width: 100vw;
  height: 100%;
}

.slider_for_project-catalog-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_1 {
  background-color: orange;
}

/* .item1 img { height: 500px; width: 500px; z-index: 5;} */

.item_2 {
  background-color: blue;
}

.buttons-for-slider-block {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
}

.button-for-slider {
  width: 25px;
  height: 10px;
  margin: 5px;
  background-color: rgb(255, 165, 0);
}

.button-for-slider-modify {
  height: 25px;
}

.portfolio-slider-name-project {
  position: absolute;
  left: 30px;
  bottom: 20%;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.portfolio-slider-project-button {
  display: inline;
  margin-top: 50px;
  padding: 20px 25px 20px 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(255, 163, 0);
}

.portfolio-slider-image-filter {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .portfolio-slider-name-project {
    font-size: 50px;
    width: 80%;
  }
  .portfolio-slider-name-project-body {
    /* padding-bottom: 30px; */
  }

  .portfolio-slider-project-button {
    /* font-size: 10px; */
    /* padding: 15px 20px 15px 20px; */
  }
}

@media (max-width: 1024px) {
  .portfolio-slider-name-project {
    font-size: 50px;
    width: 80%;
  }
  .portfolio-slider-name-project-body {
    /* padding-bottom: 30px; */
  }

  .portfolio-slider-project-button {
    /* font-size: 10px; */
    /* padding: 15px 20px 15px 20px; */
  }
}

@media (max-width: 425px) {
  .portfolio-slider-name-project {
    font-size: 35px;
    width: 80%;
  }
  .portfolio-slider-name-project-body {
    padding-bottom: 20px;
  }

  .portfolio-slider-project-button {
    font-size: 10px;
    padding: 15px 20px 15px 20px;
  }
}

@media (max-width: 375px) {
  .portfolio-slider-name-project {
    font-size: 30px;
    width: 80%;
  }
  .portfolio-slider-name-project-body {
    padding-bottom: 20px;
  }

  .portfolio-slider-project-button {
    font-size: 10px;
    padding: 15px 20px 15px 20px;
  }
}
