.container-for-project-card-details {
  padding: 0px 40px 40px 40px;
  color: white;
}

.header-for-project-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  /* margin-bottom: 35px; */
  font-size: 12px;
  font-weight: bold;
}

.project-name {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
}

.subscribe-project {
  margin-bottom: 35px;
  font-size: 17px;
}

.flex-container-for-item-project-card {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.item-project-card-left {
  width: 50%;
  font-size: 12px;
}
.item-project-card-right {
  width: 50%;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 1050px) {
  .item-project-card-right {
    font-size: 14px;
    width: 60%;
  }
}
@media (max-width: 450px) {
  .project-name {
    font-size: 20px;
  }

  .subscribe-project {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .flex-container-for-item-project-card {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .item-project-card-right {
    font-size: 14px;
  }

  .container-for-project-card-details {
    padding: 0px 20px 20px 20px;
  }
  .item-project-card-right {
    width: 60%;
  }
  .item-project-card-left {
    width: 40%;
  }
}

.download-project-sheet-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
  font-size: 14px;
  background-color: rgb(0, 61, 165);
}

.line {
  height: 1px;
  background-color: white;
}

.project-details-arrow-container {
  display: flex;

  /* margin: 0px; */
  /* background-color: green; */
}

.project-details-arrow {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  mask: url('../../../assets/bottom-arrow.svg') no-repeat center / contain;
  background-color: white;
  transform: translateY(-5px);
}

.download-project-sheet-button-titlle {
  font-size: 12px;
  font-weight: bold;
}

.download-project-sheet-button-icon {
  height: 30px;
  width: 30px;
  mask: url('../../../assets/cloud-download.svg') no-repeat center / contain;
  background-color: white;
  /* transform: translateY(-5px); */
}

.container-for-project-card-details-information-icon {
  height: 30px;
  width: 30px;
  mask: url('../../../assets/information.svg') no-repeat center / contain;
  background-color: white;
  transform: translateY(-5px);
}
