.mobile-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 0px 0px 50px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 61, 165);
  /* border: 3px solid orange; */
}

.mobile-menu-item {
  text-decoration: none;
  color: inherit; 
}

.mobile-menu-item:hover {
  color: orange;
}


