.project-body-project-description-body-project-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 61, 165);
}

.project-body-project-description-body-project-summary {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(64, 64, 66);
}

@media (max-width: 900px) {
  .project-body-project-description-body-project-summary {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .project-body-project-description-body-project-summary {
    font-size: 17px;
  }
}



@media (max-width: 600px) {
  .project-body-project-description-body-project-summary {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .project-body-project-description-body-project-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
}

@media (max-width: 380px) {
  .project-body-project-description-body-project-summary {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .project-body-project-description-body-project-summary {
    font-size: 14px;
  }
}
