.what-we-do-market-sectors {
  padding: 30px 30px 30px 30px;
  background-color: rgb(247, 247, 248);
}

.what-we-do-market-sectors-name {
  margin: 30px 0px 30px 0px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 163, 0);
}

.what-we-do-market-sectors-slogan {
  width: 850px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 61, 165);
}

/* body */

.what-we-do-market-sectors-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -1% 0px -1%;
}

@media (max-width: 1000px) {
  .what-we-do-market-sectors-slogan {
  width: 100%;
  font-size: 40px;
}
}

@media (max-width: 600px) {
  .what-we-do-market-sectors-slogan {
  font-size: 35px;
}
}

@media (max-width: 500px) {
  .what-we-do-market-sectors-slogan {
  font-size: 30px;
}
}

@media (max-width: 400px) {
  .what-we-do-market-sectors-slogan {
  font-size: 27px;
}
}

