.careers-latest-career-news {
  padding: 120px 30px 70px 30px;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(247, 247, 248);
}

.careers-latest-career-news-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* name */

.careers-latest-career-news-top-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 163, 0);
}

/* learn-more */

.careers-latest-career-news-top-learn-more-container {
}

.careers-latest-career-news-learn-more-block {
  display: flex;
  align-items: center;
}

.careers-latest-career-news-learn-more-text {
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 61, 165);
}

.careers-latest-career-news-learn-more-arrow {
  height: 20px;
  width: 20px;
  mask: url('../../../assets/arrow-right-circle.svg') no-repeat center / contain;
  background-color: rgb(0, 61, 165);
}

.careers-latest-career-news-top-learn-more-container:hover
  .careers-latest-career-news-learn-more-text {
  cursor: pointer;
  color: rgb(255, 163, 0);
}

.careers-latest-career-news-top-learn-more-container:hover
  .careers-latest-career-news-learn-more-arrow {
  cursor: pointer;
  background-color: rgb(255, 163, 0);
}

@media (max-width: 950px) {
  .careers-latest-career-news-top {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .careers-latest-career-news-top-name {
    margin-bottom: 50px;
    /* font-size: 18px; */
  }
}

@media (max-width: 450px) {
  .careers-latest-career-news-top-name {
    font-size: 16px;
  }

  .careers-latest-career-news-learn-more-text {
    /* padding-right: 10px; */
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .careers-latest-career-news {
    padding: 120px 15px 70px 15px;
  }
}
